.navbar{
  background-color: #255870;
}

p { 
  line-height: 1.7;
  color: black
}

h1 {
  font-size: 45px;
}

li {
  color: black;
}

.tocify .tocify-header .active {
color: white;
background-color: #255870;
}

.r {
  color: black;
}

div {
  background: #FFFFDD;
}
